.detail :is(.main, .footer) {
  margin-inline-start: 0;
}
.detail .top-app-bar {
  left: 0;
  width: 100%;
  gap: 4px;
}
.detail .top-app-bar .icon-btn:first-child {
  display: grid;
}
.detail .top-app-bar .logo {
  display: block;
}

.detail .menu-wrapper {
  margin-inline-start: auto;
}
.detail .menu-wrapper .menu {
  transform-origin: top right;
  left: auto;
  right: 0;
}
.detail-wrapper {
  height: 588px;
  display: grid;
  grid-template-rows: 1fr max-content;
  place-items: center;
}
.detail-banner {
  max-width: 100%;
  max-height: 100%;
  margin-inline: auto;
  border-radius: var(--radius-large);
  overflow: hidden;
  margin-block-end: 8px;
}
.detail-wrapper .title-small {
  text-align: center;
}
.detail-wrapper .color-primary {
  display: inline-block;
}
.detail .title-large {
  margin-block: 32px 16px;
}
/**
  * Responsive for larger than  1240px screen
*/
@media only screen and (min-width: 1240px) {
  .detail-wrapper {
    height: 788px;
  }
  .detail-banner {
    max-height: 760px;
  }
  .detail .title-large {
    margin-block-start: 40px;
  }
}
