/**
 * Navigation
 */
.navigation {
  --navigation-drawer-width: 320px; /*variable width*/

  background-color: var(--surface);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: var(--navigation-drawer-width);
  width: 0;
  z-index: 6;
  visibility: hidden;
  transition: var(--motion-duration-medium-1) var(--motion-easing-emphasized);
  transition-property: width, visibility;
  border-radius: var(--radius-large-end);
}
.navigation.show {
  width: var(--navigation-drawer-width);
  visibility: visible;
  transition: var(--motion-duration-long) var(--motion-easing-emphasized);
}
.navigation-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-block: 8px 12px;
}
.navigation-header,
.drawer-list {
  padding-inline: 12px;
  opacity: 0;
  transition: var(--motion-duration-medium-1) var(--motion-easing-emphasized);
}
.navigation.show :where(.navigation-header, .drawer-list) {
  opacity: 1;
  transition: var(--motion-duration-long) var(--motion-easing-emphasized-decelerate);
}
.navigation.show .navigation-header {
  transition: var(--motion-duration-short-2) var(--motion-easing-emphasized-accelerate);
}
.drawer-link {
  --state-layer-bg: var(--on-surface);
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  height: 56px;
  padding-inline: 16px 24px;
  text-transform: capitalize;
  border-radius: var(--radius-full);
  margin-block: 6px;
}
.drawer-link.active {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  --state-layer-bg: var(--on-secondary-container);
}
.drawer-link.active .leading-icon {
  font-variation-settings: 'FILL' 1;
}
/**
  * Responsive for larger than  1240px screen
*/
@media only screen and (min-width: 1240px) {
  .navigation {
    --navigation-drawer-width: 360px;
    visibility: visible;
    width: var(--navigation-drawer-width);
    border-radius: 0;
  }
  .navigation :where(.navigation-header, .drawer-list) {
    opacity: 1;
  }
  .navigation-header {
    height: 64px;
    padding-inline: 28px;
  }
  .navigation-header .icon-btn {
    display: none;
  }

  .banner-card {
    height: 420px;
  }
  .banner-card .card-content {
    padding: 48px;
  }
}
